@import '../styles';

.CollectionRow {
	border-bottom: 1px solid var(--sidebarBorderColor);
	padding: 10px;
	margin: 0px 10px 0 10px;
	transition: color 0.2s;
	color: var(--sidebarTextColor);

	&:hover, &.active {
		color: var(--sidebarActiveTextColor);
		cursor: pointer;
	}

	span:first-child {
		@extend .text--no-wrap;
	}

	img {
		height: 10px;
		filter: var(--iconColor);
		margin-top: 4px;
		padding: 4px;
	}
}
